{% extends "covid/layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid text-white">
Overview
<hr>
Coronaviruses are a family of viruses that can cause illnesses such as the common cold, severe acute respiratory syndrome (SARS) and Middle East respiratory syndrome (MERS). In 2019, a new coronavirus was identified as the cause of a disease outbreak that originated in China.
The virus is now known as the severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The disease it causes is called coronavirus disease 2019 (COVID-19). In March 2020, the World Health Organization (WHO) declared the COVID-19 outbreak a pandemic.
Public health groups, including the U.S. Centers for Disease Control and Prevention (CDC) and WHO, are monitoring the pandemic and posting updates on their websites. These groups have also issued recommendations for preventing and treating the illness.
<hr>
Symptoms
<hr>
Signs and symptoms of coronavirus disease 2019 (COVID-19) may appear two to 14 days after exposure. This time after exposure and before having symptoms is called the incubation period. Common signs and symptoms can include:
<hr>
•	Fever
<hr>
•	Cough
<hr>
•	Tiredness
<hr>
Early symptoms of COVID-19 may include a loss of taste or smell.
<hr>
Other symptoms can include:
<hr>
•	Shortness of breath or difficulty breathing
<hr>
•	Muscle aches
<hr>
•	Runny nose
<hr>
•	Headache
<hr>
•	Chest pain
<hr>
•	Pink eye (conjunctivitis)
<hr>
This list is not all inclusive. Other less common symptoms have been reported, such as rash, nausea, vomiting and diarrhea. Children have similar symptoms to adults and generally have mild illness.
The severity of COVID-19 symptoms can range from very mild to severe. Some people may have only a few symptoms, and some people may have no symptoms at all. Some people may experience worsened symptoms, such as worsened shortness of breath and pneumonia, about a week after symptoms start.
People who are older have a higher risk of serious illness from COVID-19, and the risk increases with age. People who have existing chronic medical conditions also may have a higher risk of serious illness. Certain medical conditions that increase the risk of serious illness from COVID-19 include:
<hr>
•	Serious heart diseases, such as heart failure, coronary artery disease or cardiomyopathy
•	Cancer
•	Chronic obstructive pulmonary disease (COPD)
•	Type 2 diabetes
•	Obesity or severe obesity
•	Smoking
•	Chronic kidney disease
•	Sickle cell disease
•	Weakened immune system from solid organ transplants
•	Pregnancy
<hr>
Other conditions may increase the risk of serious illness, such as:
<hr>
•	Asthma
•	Liver disease
•	Overweight
•	Chronic lung diseases such as cystic fibrosis or pulmonary fibrosis
•	Brain and nervous system conditions
•	Weakened immune system from bone marrow transplant, HIV or some medications
•	Type 1 diabetes
•	High blood pressure
<hr>
This list is not all inclusive. Other underlying medical conditions may increase your risk of serious illness from COVID-19.
If you have signs or symptoms of COVID-19, contact your doctor or clinic for guidance. Let your doctor know if you have other chronic medical conditions, such as heart disease or lung disease. During the pandemic, it's important to make sure health care is available for those in greatest need.
If you're planning to travel, first check the CDC and WHO websites for updates and advice. Be prepared to wear a mask and use appropriate hand hygiene when in public. You may also want to talk with your doctor if you have health conditions that make you more susceptible to respiratory infections and complications.


    </div>
{% endblock %}